## feixiaohao
## https://www.feixiaohao.com 注册账号密码， 并添加货币自选
userid:
passwd:

## aliyun config
## 阿里云 短信网关配置
accesskey:
accessid:
signname:
templatecode:

## user config
## 用户币价监控配置

# 提醒电话号码
notifyphone:

# 提醒周期3600秒为一个小时
notifytimeperiod:

# 币价浮动下线
lowpricepercent: -2.0

# 币价浮动上线关注点
highpricepercent: 3.0

# 波动幅度
amplitude: 1.0

# 货币列表
cointype:
 - CMT
 - IOST

